<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <aside class="side_menu">
      <!-- アフィリエイトリンクを貼る -->
    </aside>
    <article class="contents text-center">
      <ul>
        <li><%= link_to "２進数", binaries_path, class: 'btn btn-primary button w-50' %></li>
        <li><%= link_to "8進数", octals_path, class: 'btn btn-primary button w-50' %></li>
        <li><%= link_to "16進数", hexadecimals_path, class: 'btn btn-primary button w-50' %></li>
      </ul>




    </article>
    </div>
</div>
