<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="./css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="./css/style.css"> -->
  <!-- <link rel="stylesheet" href="./css/tops.scss"> -->
  <title>２・８・１６暗算アプリ</title>
</head>
<body>
  <header class="header">
    <li>
      <ul>
        ２・８・１６暗算アプリ
      </ul>
    </li>
  </header>
  <aside class="side_menu">
    <!-- アフィリエイトリンクを貼る -->
  </aside>
  <article class="content">
    <%= link_to "２進数", binaries_path %>
  </article>
  <footer class="footer">
  </footer>
</body>

</html>
