<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <aside class="side_menu">
      <!-- アフィリエイトリンクを貼る -->
    </aside>
    <article class="contents text-center">

        <%= link_to "２進数", binaries_path, class: 'btn btn-primary button' %>

    </article>
    </div>
</div>
