// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style-type: none;
}

.button {
  // position: absolute;
  // font-size: 300%;
  margin-top: 100px;
  // margin: 250px;
  // top:50%;
  // left: 45%;

}

@media (min-width: 992px) {
 .button-font {
   font-size: 7.0rem;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 .button-font {
   font-size: 4.0rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 .button-font {
   font-size: 2.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 .button-font {
   font-size: 1.0rem;
 }
}
.w-50 {
  width: 50%;
}
