// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style-type: none;
}

.button {
  // position: absolute;
  font-size: 400%;
  margin-top: 100px;
  // margin: 250px;
  // top:50%;
  // left: 45%;

}

.w-50 {
  width: 50%;
}
