<!DOCTYPE html>
<html>
  <head>
    <title>２・８・１６暗算アプリ</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2443240824525223",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <header class="header">
      <li>
        <ul>
          ２・８・１６暗算アプリ
        </ul>
      </li>
    </header>

    <%= yield %>

    <footer class="footer">
    </footer>
  </body>
</html>
